@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// @import 'common.styl';

// *
// 	color: white;
// 	border: none;

html
	background: yellow;
// 	background: lightgreen;
// 	background: green;
// 	&:after
// 		content: '8'

// strong
// 	background-color: grey;
