@import './styles/variables.styl';

html
	background-color: $color-header-wrapper-bg;

.header
	display: flex;
	justify-content: space-between;
	align-items: stretch;

// .logo
// 	display: flex;

.nav
	display: flex;
// 	flex-align: right;

// 	> li
// 		display: inline-block;
